<!DOCTYPE>
<html>
    <head>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	
	<title>Login</title>

	<body>
		<div>
			<h1>Login</h1>
			<div>
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username"></input>
                    <input type="password" name="password" placeholder="Password"></input>
                    <input type="submit" value="Login"></input>
                </form>
			</div>			
		</div>
	</body>

</html>