<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>

    <title>Twitter</title>

    <body>
        <div>
            <h1>Welcome</h1>

            <section class="container">
                <div class="login">
                    <form action="/login" method="post">
                        <input type="text" placeholder="Username"></input>
                        <input type="password" placeholder="Password"></input>
                        <input type="submit" value="Login"></input>
                    </form>
                </div>
                <div class="adduser">
                    <form action="/adduser" method="post">
                        <input type="text" placeholder="Email"></input>
                        <input type="text" placeholder="Username"></input>
                        <input type="password" placeholder="Password"></input>
                        <input type="submit" value="Create Account"></input>
                    </form>
                </div>
            </section>
        </div>
    </body>
</html>